pager = "less -R"
encryption = "gpg"

[add]
    secrets = "error"

[edit]
    command = "Code - Insiders"
    args = ["--wait"]
    apply = true

[git]
    autoCommit = true
    autoPush = true

[gpg]
    recipient = "david.huther@pcg.com"

[hooks.edit-config-template.post]
    command = "chezmoi"
    args = ["init"]