
{{ if eq .chezmoi.os "windows"}}
encryption = "age"
pager = "more.com"
pagerArgs = ["/E", "/S", "/T4"]
{{- else}}
encryption = "gpg"
pager = "less"
pagerArgs = ["-R"]
{{ end }}

[add]
    secrets = "error"

[age]
    identity = "$HOME/.age/age.key"
    recipient = "age1vu0tuhr5m6f7adhwx5yyw2q4wvp0u2ananjx4swmp7hlvm709dzqs049gz"

[diff]
    command = "code-insiders"
    args = ["--wait", "--diff"]

[edit]
    command = "code-insiders"
    args = ["--wait"]
    apply = true

[gpg]
    recipient = "david.huther@pcg.com"

[hooks.edit-config-template.post]
    command = "chezmoi"
    args = ["init"]

[git]
    autoCommit = true
    autoPush = true

[merge]
    command = "code-insiders"
    args = ["--new-window", "--wait", "--merge"]